
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row justify-content-md-center mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center">
                <h2>Login Form</h2>
            </div>
            <div class="card-body">
                <form action="" method="post">                   
                        <tr>
                            <td><label for="uname" class="form-label">Username</label></td>
                            <td><input id="uname" type="text" name="uname" placeholder="UserName" style="width:100%" class="form-control" aria-describedby="passwordHelpBlock" required​/></td>
                        </tr>                   
                        <tr>
                            <td><label for="pw" class="form-label">Password</label></td>
                            <td><input id="pw" type="password" name="pw" placeholder="Password" style="width:100%" class="form-control" aria-describedby="passwordHelpBlock" required/></td>
                        </tr>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <tr>
                                <td><input type="submit" name="submit" class="btn btn-primary mt-4" value="Login" /></td>
                            </tr>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>


